node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
logs
*.log
*.log.*
.DS_Store
Thumbs.db
.idea/
*.iml
*.pid
docker-compose.override.yml
dist/
build/
.vscode/
package-lock.json
.git/hooks/
coverage/
.nyc_output/
